server:
  port: 80
spring:
  thymeleaf:
    check-template-location: false
  profiles:
    active: desenvolvimento
  servlet:
    multipart:
      max-file-size: 1GB
      max-request-size: 1GB
  # Development properties (also used for docker-compose)
  config:
    import: optional:file:.env[.properties]
  # Configuração de Segurança
  security:
    user:
      name: ${EMAIL_FIAP:email@fiap.com.br}
      password: ${EMAIL_FIAP:email@fiap.com.br}
      roles: "USER, ADMIN"
